#root {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100vh;
}

.헤더 {
  position: sticky;
}

.달력 {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100vw;
}

.달력이름 {
  display: flex;
  justify-content: center;
}

.요일 {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.모든날 {
  /* scroll-snap-type: x mandatory; */
  /* scroll-behavior: smooth; */
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  display: flex;
  flex: 1;
  flex-direction: row;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.모든날::-webkit-scrollbar {
  display: none;
}

.한해 {
  display: flex;
  flex-direction: row;
}

.한달 {
  position: relative;
  min-width: 100vw;
  scroll-snap-align: center;
  display: grid;
  flex: 1;
  flex-direction: row;
}

.한주 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 0.5px solid lightgray;
}

.하루 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.오늘 {
  width: 50px;
  height: 30px;
}

.년월 {
  font-weight: 600;
}

.메뉴 {
  width: 50px;
  height: 30px;
}